<%- include('header'); -%>
<div class="row mb-4">
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Latest Height</h5>
              <p class="card-text">
                  <%= data.latestHeight %>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Block Reward</h5>
              <p class="card-text">
                  <%= data.blockReward %> XFSC
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Difficulty</h5>
              <p class="card-text">
                <%= data.currentDifficulty %> H
              </p>
            </div>
          </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span style="vertical-align: middle;">LATEST BLOCKS</span>
                <span style="float: right;">
                    
                    <a href="/blocks" >
                      View All
                 </a>
                      </span>
            </div>
            <div class="table-responsive p-2">
                <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Height</th>
                        <th>Time</th>
                        <th>Miner</th>
                        <th>Txs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let i=0; i < data.latestBlocks.length; i++) { %>
                      <tr>
                        <td>
                            <a href="/blocks/<%= data.latestBlocks[i].height %>">
                                <%= data.latestBlocks[i].height %>
                            </a>
                        </td>
                        <td>
                          <span class="fs-6"><%= data.latestBlocks[i].timestr %></span>
                        </td>
                        <td>
                          <div class="text-truncate" style="max-width: 16rem;min-width: 16rem;">
                            <a href="/addr/<%= data.latestBlocks[i].coinbase %>">
                              <%= data.latestBlocks[i].coinbase %>
                            </a>
                          </div>
                        </td>
                        <td><%= data.latestBlocks[i].txcount %></td>                      
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span style="vertical-align: middle;">LATEST TRANSACTIONS</span>
                
                <span style="float: right;">
                    
                    <a href="/txs" >
                        View All
                   </a>
                </span>
            </div>
            <div class="table-responsive p-2">
                <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>TX HASH</th>
                        <th>Time</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Val</th>
                        <!-- <th scope="col">GAS used</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let i=0; i < data.latestTxs.length; i++) { %>
                      <tr>
                        <td>
                            <a href="#">
                                0xc4e7ce6sdfwe...
                            </a>
                        </td>
                        <td>10 secs ago</td>
                        <td>1fs232434...</td>
                        <td>1gdgdsf33...</td>
                        <td>10 XFSC</td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
  </div>
<%- include('footer'); -%>